PROJECT_ID=tu_project_id
MESSAGING_SENDER_ID=tu_sender_id
STORAGE_BUCKET=tu_storage_bucket

# Configuración Web
WEB_API_KEY=tu_web_api_key
WEB_APP_ID=tu_web_app_id
WEB_AUTH_DOMAIN=tu_web_auth_domain
RECAPTCHA_V3_SITE_KEY=tu_clave_publica_recaptcha_v3

# Configuración Android / iOS
ANDROID_API_KEY=tu_android_api_key
ANDROID_APP_ID=tu_android_app_id
IOS_API_KEY=tu_ios_api_key
IOS_APP_ID=tu_ios_app_id
IOS_BUNDLE_ID=tu_ios_bundle_id
